body {
    background-color:#F5F5F5 ;
    font-family: 'Calibri';
}

.topnav {
    background-color: #3B0556;
    overflow: hidden;
    
}

.topnav a {
    float: left ;
    display: block;
    color: white;
    padding: 20px;
}
.topnav a.active {
    background-color:#E7CEF3 ;
}

.topnav a:hover {
    background-color:#E7CEF3 ;
}

footer {
    text-align: center;
    background-color:  #AF9EB5;
}

.navbar-light {
    background-color: #3B0556;
}

.nav-link {
    color: white !important;
}

.imagestyle {
    width: 100px;
    height: 70px;
    margin-top: -5%;
    margin-bottom: -5%;
    margin-left: 20px;
}

footer {
    font-style: normal;
    height: 15px;
    bottom: 0%;
    width: 100%;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    background-color: #AF9EB5;
    display: block;
    position: absolute;
    font-size: 10px;
}

#vj123 {
    width: 400px;
    height: 400px;
}